/* Memastikan body memusatkan semua konten */
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center; /* Memusatkan seluruh konten secara vertikal dan horizontal */
  background: antiquewhite;
  overflow: hidden;
}

/* Menata kontainer headline */
#hedlinecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

/* Menata teks pada headline */
#shine {
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 0, 102, 0.3);
  z-index: 10;
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(233, 85, 189, 0.419);
}

/* Animasi shimmer untuk teks */
@-webkit-keyframes shine {
  0%, 10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}

/* Galeri gambar */
.gallery {
  --d: 10s; /* Durasi animasi */
  display: grid;
  place-items: center; /* Memusatkan gambar di dalam galeri */
  width: 220px;
  height: 220px; /* Sesuaikan dengan ukuran yang diinginkan */
  margin-left: auto;
  margin-right: auto;
}

/* Gambar dalam galeri */
.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
}

/* Animasi pergeseran gambar */
@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }
  0%, 100%, 20% {
    transform: translateX(0%) rotate(var(--r));
  }
}

/* Mengatur urutan tumpukan gambar */
@keyframes z-order {
  10%, 20% {
    z-index: 1;
  }
  80% {
    z-index: 2;
  }
}

@keyframes z-order-last {
  10%, 20% {
    z-index: 1;
  }
  90% {
    z-index: 2;
  }
}

/* Responsif untuk tampilan kecil (misalnya smartphone) */
@media only screen and (max-width: 600px) {
  #shine {
    font-size: 22px;
  }
  #hedlinecontainer {
    margin-bottom: 60px;
  }

  .gallery {
    --d: 10s;
    display: grid;
    place-items: center;
    width: 150px;
    height: 150px; /* Sesuaikan ukuran galeri untuk perangkat kecil */
    margin-left: auto;
    margin-right: auto;
  }
}
